@import 'mixins';
@import 'valiables';

.copy {
  font-family: vdl-admin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;

  letter-spacing: 0.06em;
  line-height: 2em;
  position: absolute;
  top: 10vh;
  left: 10vw;
  color: #fff;
  @include mq(tablet) {
    top: 15vh;
  }
}
.price-area {
  position: absolute;
  right: 10vw;
  font-size: 2vw;
  top: 60vh;
  @include mq(sp) {
    top: 30vh;
  }
  .unexperienced {
    font-size: 90%;
    color: #333;
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    border-radius: 99999px;
    width: 100%;
    text-align: center;
  }
  .color {
    color: yellowgreen;
    font-size: 120%;
    margin-right: 10px;
  }
}

.first-view {
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  @include mq(sp) {
    height: 40vh;
  }
  @media (orientation: landscape) and (max-width: 812px) {
    top: 10vh;
  }
}

.first-view-mask {
  position: absolute;
  top: 8vh;
  left: 0;
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 90vh;
  @include mq(sp) {
    height: 40vh;
  }
  @include mq(tablet) {
    .copy {
      top: 15vh;
    }
  }
}
.first-view-wrapper {
  .special-short-program {
    font-size: 1.5vw;
    position: absolute;
    left: 4vw;
    bottom: -14px;
    padding: 15px;
    width: 90%;
    background: $main-color;
    text-align: center;
    z-index: 10;
    border-radius: 50px;
    font-weight: bold;
    @include mq(sp) {
      bottom: 320px;
    }
  }
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 80px 0;
  @include mq(sp) {
    grid-template-columns: 1fr;
  }
  @include mq(tablet) {
    font-size: 1.8vw;
  }

  h3 {
    text-align: center;
    padding: 8px 0;
    background-color: $main-color;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
  }
  h4 {
    font-size: 1.9rem;
    color: $sub-color;
    font-weight: bold;
    @include mq(tablet) {
      font-size: 1.8vw;
    }
    @media (orientation: landscape) and(max-width: 812px) {
      font-size: 1.7vw;
    }
  }
  @media (orientation: landscape) and(max-width: 812px) {
    font-size: 1.5vw;
  }
}

$bar-style: solid;
$bar-size: 3px;
$bar-color: $sub-color;
.service-ttl {
  text-align: center;
  font-size: 1.8vw;
  padding: 30px 0;
  position: relative;
  margin: 180px 0;
  letter-spacing: 0.07em;
  @include mq(sp) {
    margin: 90px 0 0;
  }

  &::before,
  &::after {
    content: '';
    width: 4vw;
    height: 3vw;
    position: absolute;
  }
  &::before {
    border-left: $bar-style $bar-size $bar-color;
    border-top: $bar-style $bar-size $bar-color;
    top: 0;
    left: 0;
  }
  &::after {
    border-right: $bar-style $bar-size $bar-color;
    border-bottom: $bar-style $bar-size $bar-color;
    bottom: 0;
    right: 0;
  }
}

.number {
  font-size: 3.5rem;
  font-style: italic;
  margin-right: 10px;
  @include mq(tablet) {
    font-size: 1.8vw;
  }
  @media (orientation: landscape) and(max-width: 812px) {
    font-size: 3rem;
  }
}
.free-lesson {
  line-height: 1;
  text-align: center;
  font-size: 3.5rem;
  background: linear-gradient(transparent 80%, $main-color 0%);
  margin: 50px auto;
  display: inline-block;
  border-radius: 2px;
}

.arrow-icon {
  color: $main-color;
  display: block;
}

.btn {
  @include btnStyle($color: #fff);
}

.contact-sec {
  text-align: center;
  margin: 80px 0;
  .qualification {
    margin: 50px 0;
    padding: 10px 4vw;
    border: 2px solid $main-color;
    ul {
      list-style: inside;
      width: 90%;
    }

    p {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  ul {
    text-align: left;
    margin: 0 auto;
    li {
      text-indent: -1.5em;
    }
  }
}

.expiry {
  text-align: center;
  background: #fef5e0;
  color: $sub-color;
  font-size: 1.6vw;
  padding: 2vw;
  line-height: 2;
  letter-spacing: 0.09rem;
  font-weight: bold;
}
.expiry-ttl {
  &::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 900;
    margin-right: 10px;
  }

  &::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 900;
    margin-left: 10px;
  }
}

.beginner-text {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 100vh;
  padding: 30px 0;
  @include mq(sp) {
    margin-top: 50vh;
  }

  &:before {
    content: '';
    background: #fef5e0;
    width: 100vw;
    height: 135vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    @include mq(sp) {
      height: 73vh;
    }
  }
}

.first-golf {
  font-weight: bold;
  font-size: 120%;
  color: $sub-color;
}
.one-month {
  font-weight: bold;
  font-size: 120%;
  color: $sub-color;
}
.eight {
  font-size: 200%;
  color: $sub-color;
}

.closing {
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;

  position: relative;
  padding: 2rem;
  border: 4px solid $main-color;
  &:before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: '';
    border: 2px solid $main-color;
  }
}

.no-add-fee {
  font-weight: bold;
  color: #Fa4032;
  font-size: clamp(16px, 1.8vw, 24px);
  text-shadow: 1px 1px 1px #fa4032;
  line-height: 1.4;
}
